.post-list {
    margin-right: 1em;

    .post {
        @include trailer(1.5);

        &:last-child {
            @include trailer(0);
        }
    }

    @media (max-width: $tab-end) {
        margin-right: 0;
    }
}

.post-wrapper {
    margin-right: 1em;
}

.post {
    @extend %clearfix;
    background: #fff;

    .dd_post_share_left {
        @extend %clearfix;
        display: block;
        float: none;
    }
}

.post-date {
    background: $postDate;
    color: #fff;
    font-family: $fontSerif;
    margin: -10px 0 0 -10px;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(#333, .8);
    visibility: visible;
    z-index: 3000;
    @include box-shadow(-2px -2px 0 adjust-lightness($postDate, -5%),
                         2px 2px 0 rgba(#333, .5));

    span {
        display: block;

        &.day {
            @include adjust-font-size-to($xx-large-px, 1.5);
        }
        &.month {
            @include adjust-font-size-to($x-large-px, 1.5);
        }
    }
}

.post-title {
    margin-left: 90px;
    margin-right: .5em;
    margin-top: 10px;
    @include adjust-font-size-to($xx-large-px);
    @include trailer(.5);

    @media (max-width: $tab-end) {
        @include adjust-font-size-to($x-large-px, 1.5);
    }

    @media (max-width: $palm-end) {
        margin-left: 70px;
        @include adjust-font-size-to($large-px, 1.5);
    }
}

.post-content {
    margin: 1em 2em;
}

.post-meta {
    color: #A6AAAA;
    margin: 1em 2.5em;
    @include adjust-font-size-to($small-px, .75);
    @include leader(1);
}

//         img.alignright,
//         img.alignleft,
//         .alignright img,
//         .alignleft img {
//             height: auto;
//             max-width: 1280px;
//             width: auto;
//         }

//         img.aligncenter,
//         img.alignnone {
//             height: auto;
//             max-width: 1280px;
//             width: 100%;
//         }

