.widget {
    margin: 2em 0 2em 2em;

    h4 {
        @include trailer(.5);
    }
}

.widget #searchform label {
    display: none;
}

.widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#searchform {
    input[type="text"] {
        border: 1px solid #bbb;
        width: 63%;
        @include adjust-font-size-to($med-px, 1.5);
    }

    input[type="submit"] {
        float: right;
        width: 32%;
        @include adjust-font-size-to($med-px, 1.5);
    }
}
